$breakpoint-xs-max: 375px;
$breakpoint-lg-max: 1440px;
$breakpoint-xl-max: 1920px;

$white: #FFFFFF;
$white-medium: #F8F8FA;
$white-dark: #D5D5D5;

$black: #000000;

$gray-dark: #333333;
$gray-medium: #393939;
$gray-light: #5A5A5A;

$gray: #AAAAAA;
$light-gray: #F2F2F2;

$sapphire: #125BAE;
$blue-darker: #4A6AC4;
$blue-dark: #7397F5;
$blue: #73AFF4;
$blue-light: #E2EFFF;